body{
  padding: 10% 15% 0 15%;
}

h2{
  font-family: "Ubuntu";
  padding-top: 6%;
  line-height: 2;
  font-size: 3rem;
}

.col-sm{
  padding-left: 10%;
}

.col-sm p{
  width: 45%;
  font-weight: 600;
  margin: 0;
  line-height: 1.6;
}

a{
  color: #fff;
}

.btn{
  width: 50%;
  background-color: #16c79a;
  border: 0;
  margin-top: 5%;
}

.btn:hover{
  background-color: #00917c;
}

img{
  width: 75%;
}
